/*.sisalto{
  width: auto;
  padding-left: 100px;
  padding-right: 100px;
}

.artjarviTeksti, .listaTeksti, .observatorioTeksti, .lomoTeksti, .projektitTeksti, .tapahtunuttaTeksti{
  padding-left: 50px;
}

li{
  list-style: none;
}

ul{
  margin-left: -40px;
}
