/*Etusivun oik.puoleinen ajankohtaista-laatikko */
.ajankohtaistaTeksti{
    float: left;
    max-width: 300px;
    margin-top: -50px;
    padding-left: 30px;
    padding-right: 20px;
    border-left: 1px solid black;
  }

  /*Etusivun linkit muille sivustoille*/
  .etusivuLinkit{
    float: left;
    padding-left: 10px;
  }

  /*Etusivun pääteksti*/
  .indexTeksti{
    float: left;
    max-width: 750px;
    padding-right: 60px;
    padding-left: 10px;
  }