/*SELAINNÄKYMÄ */
@media screen and (min-width: 600px){

.etusivuTeksti, .etusivuLinkit{
  width: 720px;
  float: left;
}

.uutiset{
  float: right;
  width: 170px;
  margin-right: -25px;
  margin-top: -50px;
  padding: 10px;
  background-color:
}

#perustettu{
  font-size: 15px;
  font-style: italic;
  margin-top: -20px;
}

#covid{
  font-weight: bold;
}

}
