/*OLETUKSENA MOBIILINÄKYMÄ*/
body{
  background-image: url(kuvat/altairback1.gif);
}

.wrapper{
  background-color: white;
  min-width: 350px;
  margin: auto;
  margin-top: -15px;
}

p,a,li{
  font-size:20px;
  line-height: 25px;
}

/*PUDOTUSVALIKKO*/
.dropbtn{
  background-color: red;
  color: white;
  margin-left: 5px;
  min-width: 380px;
  font-size: 20px;
  border: none;
  text-align: left;
}

.dropdown{
  position: relative;
  display: inline-block;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: red;
  min-width: 160px;
  margin-left: 5px;
  z-index: 1;
}

.dropdown-content a{
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover{
  background-color: red;
}

.dropdown:hover .dropdown-content{
  display: block;
}

.dropdown:hover .dropbtn{
  background-color: red;
}


nav{
  visibility: hidden;
}

.sisalto{
  padding-left: 5px;
  padding-right: 5px;
  margin-top: -100px;
}

header h1{
text-align: center;
color: red;
padding-top: 15px;
}

footer{
padding: 5px;
}


/*SELAINNÄKYMÄ */
@media screen and (min-width: 600px){
  .dropbtn{
    visibility: hidden;
  }

  li{
    list-style-type: square;
  }

  .hr{
    background-color: red;
    height: 4px;
    border: none;
    width: 1180px;
  }

  .wrapper{
    width: 1200px;
    margin: auto;
    height: auto;
    min-height: 1200px;
    border: 1px solid black;
    background-color: white;
  }

  header{
    height: 150px;
    border: 2px solid white;
  }

  nav{
    visibility: visible;
    float: left;
    display: block;
    width: 170px;
    padding: 0px 20px 5px 10px;
  }

  .sisalto{
    width: auto;
    margin-top: 0px;
    padding-left: 200px;
    padding-right: 50px;
  }

  footer{
    height: 180px;
    width: inherit;
    float: left;
    text-align:center;
    font-size: 12px;
    background-color: white;
    margin-bottom: 10px;
    padding: 0px;
  }

  .footeremail{
    font-size: 18px;
    font-weight: bold;
    color: blue;
    text-decoration: underline;
    padding-top: 20px;
  }

  .footerupdate{
    font-size: 14px;
    font-style: italic;
  }

  .linkkipalkki{
    display: grid;
    background-color: red;
    padding: 10px;
    margin: 5px;
    color: white;
    text-align: right;
    border-radius: 3px;
  }

}
