/*.yhteysTeksti{
  float: left;
  width: 500px;
}

.hallitus{
  float: right;
  width: 400px;
}

li{
  margin-top: -10px;
  margin-bottom: 10px;
}
*/

.yhteysTeksti{
  float: left;
  width: 350px;
}
.hallitus{
  float: right;
  margin-right: 140px;
}
