.sisalto{
  width: auto;
  padding-left: 100px;
  padding-right: 100px;
}

.toimintalinkkeja{
  float: left;
}

#toiminta_yksi{
  height: 250px;
  float: left;
  padding-right: 30px;
  padding-bottom: 30px;
}

#toiminta_kaksi{
  height: 350px;
  float: right;
}
