/*SELAINNÄKYMÄ */
@media screen and (min-width: 600px){

.liityTeksti{
  margin-top: -60px;
  width: 720px;
  float: left;
}

.sisalto{
  width: auto;
  padding-left: 100px;
  padding-right: 100px;
}

ul li{
  margin-left: 80px;
}
}

/*Seuraavat muotoilut koskevat vain lomaketta */
form{
width: 700px;
margin-top: 30px;
margin-bottom: 30px;
}

input, label{
  font-size: 18px;
}

label{
  float: left;
  width: 250px;
}

#jasenlabel{
padding-top: 10px;
}

#perhejasenlabel{
  width: 450px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#perhejasen{
  margin-top: 20px;
}

#jasenhakemus, #jasentiedot{
  margin-left: -60px;
}


#jasen, #pjasen, #yjasen, #kjasen{
margin-left: -90px;
}

textarea{
  margin-top: -10px;
}

span{
  display: block;
  padding: 10px;
  margin-top: -10px;
}

button{
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 15px;
}
