.etusivuTeksti, .etusivuLinkit{
  width: 770px;
  float: left;
}

.uutiset{
  float: right;
  width: 170px;
  margin-right: -25px;
  padding: 10px;
}

#perustettu{
  font-size: 15px;
  font-style: italic;
}

#covid{
  font-weight: bold;
}

#etusivuhr{
  background-color: red;
  height: 4px;
  border: none;
  width: 1180px;
}
