/*.etusivuTeksti, .etusivuLinkit{
  width: 720px;
  float: left;
}

.uutiset{
  float: right;
  width: 170px;
  margin-right: -25px;
  padding: 10px;
  background-color:
}

#perustettu{
  font-size: 15px;
  font-style: italic;
}

#covid{
  font-weight: bold;
}
